:root,
:root.day {
  --footer-input: #FFFFFF;
  --footer-border: #333333;
}

/* Must match :root.night */
@media (prefers-color-scheme: dark) {
  :root {
    --footer-input: #333333;
    --footer-border: #FFFFFF;
  }
}

/* Must match @media (prefers-color-scheme: dark) */
:root.night {
  --footer-input: #333333;
  --footer-border: #FFFFFF;
}


.star-rating {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .star {
    cursor: pointer;
    width: 2em;
    height: 2em;
    background-color: grey;
    -webkit-clip-path: polygon(
      50% 0%,
      63% 38%,
      100% 38%,
      69% 59%,
      82% 100%,
      50% 75%,
      18% 100%,
      31% 59%,
      0% 38%,
      37% 38%
    );
    clip-path: polygon(
      50% 0%,
      63% 38%,
      100% 38%,
      69% 59%,
      82% 100%,
      50% 75%,
      18% 100%,
      31% 59%,
      0% 38%,
      37% 38%
    );
  }
  
  .star.selected {
    background-color: yellow;
  }

  .star-button{
    background: #666666;
    border: 1px solid #414141;
    color: #FFFFFF;
    width: 80%;
    margin: 1rem;
  }

  .buttonIn {
    width: 300px;
    position: relative;
    margin: 1rem;
}
 
.buttonIn > input {
    margin: 0px;
    padding: 0 5rem 0 1rem;
    width: 100%;
    outline: none;
    height: 35px;
    border-radius: 8px;
    background-color: var(--footer-input);
    border: 1px solid var(--footer-border)
}
 
.buttonIn > button {
    position: absolute;
    top: 0;
    right: 6px;
    z-index: 2;
    border-left: 1px solid var(--footer-border) !important;
    top: 2px;
    height: 30px;
    cursor: pointer;
    color: var(--footer-border);
    background-color: var(--footer-input);
    transform: translateX(2px);
}
